.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: black;
}

.main {
  display: flex;
  width: 800px;
  height: 800px; 
  /* background-color: grey; */
  border-style: solid;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  width: 600px;
  justify-content: space-around;
  border: solid 1px;
  margin: 20px 0px 20px 0px;
}

.reserve {
  width: 600px;
  height: 600px;
  border-style: solid;
  margin: 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
}

.reserve button {
  color: white;
  font-weight: bold;
  background-color: rgb(81, 166, 223);
  border-radius: 5%;
  border-style: none;
}